<h1>Testing Operations with various MIME types</h1>

<h2>Default Accept ("*/*")</h2>
<div id="default_accept">
  <p>Default Content Type: <span class="default_content_type" style="color: red;">fail</span></p>
  <p>Set Response Content Type: <span class="set_response_content_type" style="color: red;">fail</span></p>
  <p>Use Respond To Block: <span class="respond_to_block" style="color: red;">fail</span></p>
</div>

<h2>Accept json</h2>
<div id="accept_json">
  <p>Default Content Type: <span class="default_content_type" style="color: red;">fail</span></p>
  <p>Set Response Content Type: <span class="set_response_content_type" style="color: red;">fail</span></p>
  <p>Use Respond To Block: <span class="respond_to_block" style="color: red;">fail</span></p>
</div>


<h2>Accept application/vnd.cable_ready.json</h2>
<div id="accept_cable_ready">
  <p>Default Content Type: <span class="default_content_type" style="color: red;">fail</span></p>
  <p>Set Response Content Type: <span class="set_response_content_type" style="color: red;">fail</span></p>
  <p>Use Respond To Block: <span class="respond_to_block" style="color: red;">fail</span></p>
</div>


<h2>Accept application/vnd.cable_ready.json, application/json</h2>
<div id="accept_cable_ready_then_json">
  <p>Default Content Type: <span class="default_content_type" style="color: red;">fail</span></p>
  <p>Set Response Content Type: <span class="set_response_content_type" style="color: red;">fail</span></p>
  <p>Use Respond To Block: <span class="respond_to_block" style="color: red;">fail</span></p>
</div>

<h2>Extra-simple GET fetch</h2>
<div id="extra_simple_fetch">
  <p>Default Content Type: <span class="default_content_type" style="color: red;">fail</span></p>
  <p>Set Response Content Type: <span class="set_response_content_type" style="color: red;">fail</span></p>
  <p>Use Respond To Block: <span class="respond_to_block" style="color: red;">fail</span></p>
</div>
